*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    outline: none;
    font-family: "Arial", Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

.full-main{
    background-color: rgb(240,240,240);
    padding-top: 10px;
}

.container{
    width: 1170px;
}

header{
    background-color: rgb(68,68,68);
    color: white;
    padding: 10px 0px;
    font-family: "Arial", Helvetica, sans-serif;
}

.herder-top{
    display: flex;
    align-items: center;
}

.info h1{
    display: inline-block;
    font-size: 13px;
    border-right: 1px solid gray;
    padding-right: 8px;
}

.hotline {
    display: inline-block;
    color: white;
    font-size: 13px;
    margin-left: 5px;
}

.hotline a{
    display: inline-block;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.menu-top{
    float: right;
}

.menu-top li{
    display: inline-block;
}

.menu-top li a{
    color: white;
    font-size: 13px;
    margin-right: 20px;
}

.shopping{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.shopping img{
    display: inline-block;
    width: 20px;
    height: 20px;
    max-width: 100%;
}

.shopping p{
    margin-left: 8px;
    display: inline-block;
    font-size: 15px;
    line-height: 16px;
    color: white;
}

.shopping span{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    margin-left: 10px;
    background-color: #0b77e2;
    border-radius: 3px;
    text-align: center;
} 

.header-inner{
    background-color: rgba(0,0,0,0.8);
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header-inner-inner{
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100%;
    padding-bottom: 5px ;
}

.logo a{
    display: block;
}

.logo img{
    display: block;
    max-width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.menu ul li{
    display: inline-block;
    margin-right: 25px;
}

.menu ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.menu ul li a:hover{
    color: rgb(124,185,66);
}

.search{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search form{
    position: relative;
}

.search input[type="text"]{
    width: 80%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.search input[type="submit"]{
    text-indent: -10000000px;
    width: 20%;
    height: 35px;
    position: absolute;
    right: 0;
    color: #FFF;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    background-image: url(./assets/icon-search.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    background-color: #79bd48;

}

.search input[type="submit"]:hover{
    background-color: #a7d685;
}

.list-mac{
    width: 20%;
}

.list-mac ul{
    padding-left: 8px;
    background-color: rgb(51,51,51);
    height: 352px;
}

.list-mac ul li{
    list-style: none;
}

.list-mac ul li a{
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: white;
    padding: 15px 0px;
    position: relative;
    padding-left: 40px;
}    

.list-mac ul li a img{
    height: auto;
    position: absolute;
    left: 0;
    top: 10px;
}

.list-mac ul li a:hover{
    color: rgb(124,185,66);
}

.carousel{
    width: 80%;
}

#image-slider a img {
	max-width : 100%;
    min-height: 352px;
}


.splide__pagination__page{
    width: 10px;
    height: 10px;
    background-color: rgba(62, 83, 46, 0.5);
    border: none;
    
}

.splide__pagination__page.is-active{
    background: #f60;
    opacity: 1;
    transform: scale(1.1);
}

.splide__pagination__page:hover{
    background: #f60;
    opacity: 1;
}

.carousel-control-prev{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    left: -35px;
    background: url(./assets/icon-left-arrow.png);
    background-color: rgba(255,255,255,0.6);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center; 
}

.carousel-control-next{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    right: -35px;
    background: url(./assets/icon-right-arrow.png);
    background-color: rgba(255,255,255,0.6);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.carousel:hover .carousel-control-prev{
    left: 30px;
    transition: all 0.3s ease;
    visibility: initial;
}

.carousel:hover .carousel-control-next{
    right: 30px;
    transition: all 0.3s ease;
    visibility: initial;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
    background-color: rgba(255,255,255,1);
}

.splide__arrow{
    opacity: 1;
    visibility: hidden;
}

#ban-chay{
    margin-top: 10px;
    overflow: hidden;
}

.carousel-main h2{
    font-size: 20px;
    padding: 15px;
}

.carousel-control-prev-slide-item{
    left: -30px;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background: url(./assets/icon-left-arrow.png);
    background-color: rgb(122, 193, 66, 0.5);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

.carousel-control-next-slide-item{
    right: -30px;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background: url(./assets/icon-right-arrow.png);
    background-color: rgb(122, 193, 66, 0.5);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}


.carousel-main:hover  .carousel-control-prev-slide-item{
    left: 25px;
    transition: 0.3s ease;
    visibility: initial;
}

.carousel-main:hover  .carousel-control-next-slide-item{
    right: 25px;
    transition: all 0.3s ease;
    visibility: initial;
}

.carousel-control-prev-slide-item:hover, .carousel-control-next-slide-item:hover {
    background-color: rgb(122, 193, 66, 1);
}

.item{
    height: 100%;
}

.item-inner{
    background-color: white;
    min-height: 320px;
    position: relative;
}

.label{
    width: 100%;
    text-align: center;
}

.label > span{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 8px;
    color: white;
    border-radius: 0px 0px 3px 3px;
}

div#hot > span{
    background-color: rgb(255,0,0, 0.7);
}

div#bestSale > span{
    background-color: rgb(131,196,78);
}

div#new > span{
    background-color: rgb(255,150,0);
}

.wrap-a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-a img{
    max-height: 150px;
    max-width: 100%;
    object-fit: cover;
}

.info-item{
    width: 80%;
    margin: 0 auto;
    padding: 15px 15px;
    text-align: center;
}

.info-item h3{
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.info-item p{
    color: #444444e8;
    font-size: 13px;
    margin-top: 5px;
}

.price{
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding: 10px;
    color: #f83015;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.price span{
    font-size: 12px;
}


.product{
    margin-top: 30px;
}

.wrap-product{
    margin-top: 12px;
    padding-bottom: 12px;
}

.list-product{
    height: 100%;
    background-color: white;
}

.list-product .name-product{
    color: white;
    font-size: 14px;
    background-color: rgb(123,184,66);
    padding: 10px 15px;
}

.kind-of-product ul{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.kind-of-product ul li{
    list-style: none;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid rgb(209, 209, 209);
    color: #4E4E4E;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.kind-of-product ul li:hover{
    background-color: rgba(116, 177, 59, 0.3);
}

.kind-of-product ul li a{
    color: rgb(78, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.kind-of-product ul li a:hover{
    color: rgb(0, 119, 237);
}

.view-all-product a{
    display: block;
    text-align: center;
    color: #333;
    font-size: 15px;
    line-height: 20px;
}

.view-all-product a span{
    font-weight: bold;
}

.view-all-product a:hover{
    color: rgb(0, 119, 237);
}

.all-item-product{
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 12px;
}

.item-product{
    width: 24%;
    background-color: white;
    margin-bottom: 12px;
}

#item-product-ofset{
    display: none;
}

.all-item-product .item-product .item-inner-product a img{
    display: block;
    max-width: 100%;
    background-color: white;
}

.info-item-product{
    margin-top: 10px;
    padding-left: 10px;
}

.info-item-product h3{
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #444444e8;;
}

.info-item-product p{
    color: #444444e8;
    font-size: 13px;
    margin-top: 5px;
}

.price-product{
    width: 100%;
    padding: 10px 10px;
    color: #f83015;
    font-size: 16px;
    font-weight: bold;
}

.price-product span{
    font-size: 12px;
}

.label-product{
    width: 100%;
    text-align: center;
    background-color: white;
}

.label-product > span{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 8px;
    color: white;
    border-radius: 0px 0px 3px 3px;
}

div#hot-product > span{
    background-color: rgb(255,0,0, 0.7);
}

div#bestSale-product > span{
    background-color: rgb(131,196,78);
}

div#new-product > span{
    background-color: rgb(255,150,0);
}

footer{
    position: relative;
}

.strengths{
    display: flex;
    align-items: center;
}

.icon-strengths{
    display: flex;
    float: left;
    padding: 10px;
}

.icon-strengths img{
    width: 35px;
    height: 35px;
}

.about-strengths{
    float: right;
}

.about-strengths h3{
    font-size: 15px;
    font-weight: bold;
    color: rgb(191, 191, 191);;
}

.about-strengths p{
    color: rgb(191, 191, 191);
    font-size: 14px;
    margin-top: 5px;
}

.customer{
    background-color: rgb(34,34,34);
}

.customer-container{
    padding: 20px 0px;
}

.care{
    color: white;
}

.title-footer{
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.care p{
    line-height: 20px;
    color: #bfbfbf;
    font-size: 12px;
    line-height: 20px;
}

.care a{
    color: #7ac142;
    font-size: 14px;
    font-weight: 600;
}

.care span{
    display: block;
    color: #7ac142;
    font-size: 14px;
    font-weight: 600;
}

.menu-footer li{
    list-style: none;
    line-height: 22px;
}

.menu-footer li a{
    color: #bfbfbf;
    font-size: 12px;
}

.menu-footer li a:hover{
    color: #ffffff;
}

.copyRight{
    background-color: rgb(27, 26, 26);
}

#footer-two{
    margin-top: 20px;
}

#footer-two-left .cs{
    color: #fff;
    font-weight: bold;
}

#footer-two-left #tag{
    margin-top: 20px;
}

#footer-two-left #tag p,a{
    display: inline-block;
}

#footer-two-left #tag a{
    font-size: 11px;
    border-right: 1px solid #fff;
    font-weight: lighter;
    padding-right: 5px;
}

#footer-two-left #tag a:hover{
    color: #c1daaf;
}

#footer-two-right img{
    max-width: 100%;
    object-fit: cover;
}

#footer-bottom{
    padding: 12px;
    text-align: center;
}

#footer-bottom p{
    font-size: 15px;
    color: #bfbfbf;;
}

#footer-bottom p a{
    color: rgb(43, 143, 219);
}

.youtube iframe{
    max-width: 100%;
    max-height: 130px;
}

#go-to-top{
    position: fixed;
    left: 20px;
    bottom: 20px;
}

#go-to-top a{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px 8px;
    border-radius: 4px;
}

#go-to-top a:hover{
    background-color: rgba(0, 0, 0, 0.9);
}

#go-to-top img{
    width: 20px;
    height: 20px;
}


@media only screen and (max-width: 1200px) {
    .menu ul li a {
      font-size: 12px;
      font-weight: 500;
    }

    .icon-strengths img{
        width: 30px;
        height: 30px;
    }

    .about-strengths h3{
        font-size: 12px;
    }

    .about-strengths p{
        font-size: 11px;
    }

    .care a{
        font-size: 12px;
    }

    .care span{
        display: block;
        font-size: 12px;
    }

    .facebook iframe{
        max-width: 100%;
    }

  }

  @media only screen and (max-width: 992px) {

    .list-mac{
        display: none;
    }

    .carousel{
        width: 100%;
    }

    #image-slider a img{
        min-height: 0px;
        max-height: 300;
    }

    .splide__pagination{
        bottom: 20px;
    }

    #ban-chay{
        margin-top: 0px;
    }

    .info h1{
        display: none;
    }

    .hotline{
        margin: 0px;
    }

    .shopping img{
        width: 16px;
        height: 16px;
    }

    .shopping p{
        font-size: 12px;
        padding: 0px 5px;
        margin: 0px;
    }

    .shopping span{
        margin: 0px;
        width: 16px;
        height: 16px;
        font-size: 12px;
        line-height: 16px;
    }

    .logo{
        padding: 0px;
    }

    .menu ul li a{
        font-size: 10px;
    }

    .search input[type='text']{
        padding: 5px 10px;
        font-size: 9px;
    }

    .search input[type="submit"]{
        top: 1px;
        height: 20px;
        background-size: 15px 15px;
    }

    .price{
        width: 100%;
        text-align: center;
        bottom: 0px;
    }

    .item-inner{
        min-height: 300px;
    }

    .info-item{
        width: 100%;
    }

    .info-item h3{
        color: #444444e8;
        font-weight: 600;
    }

    .list-product .name-product {
        font-size: 12px;
    }

    .kind-of-product{
        padding: 0px;
    }

    .kind-of-product ul{
        padding: 8px 2px;
    }

    .kind-of-product ul li{
        padding: 5px;
        border-color: rgb(139, 196, 87);
    }

    .kind-of-product ul li a{
        font-size: 12px;
    }

    .view-all-product a {
        font-size: 13px;
    }

    .all-item-product{
        margin-left: 0px;
    }

    .item-product{
        width: 33%;
    }

    #item-product-ofset{
        display: block;
    }

    .info-item-product h3{
        font-size: 12px;
    }

    .info-item-product p{
        font-size: 12px;
        line-height: 15px;
    }

    .label-product span{
        font-size: 11px;
        padding: 5px;
    }

    .price-product{
        font-size: 14px;
    }

    .price-product span{
        font-size: 11px;
    }

    #footer-bottom p {
        font-size: 12px;
    }

    footer > div:first-child{
        display: none;
    }
  }

  @media only screen and (max-width: 767px) {

    .container{
        padding: 0px;
        margin: 0px auto;
    }

    #tOp{
        display: none;
    }

    .header-inner-inner{
        position: unset;
    }

    .menu{
        display: none;
    }

    .header-inner{
        padding: 0px 5px;
        position: unset;
    }

    .logo{
        width: 110px;
        padding: 5px 0px;
    }

    .search {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .search input[type="submit"]{
        height: 22px;
    }

    .full-main{
        padding-top: 0px;
        background-color: #fff;
    }

    .nav{
        padding: 0px;
    }

    .product{
        margin-top: 0px;
    }

    .item-product{
        border-bottom: 1px solid #dfdfdf;
        padding-top: 5px;
    }

    .item-inner-product{
        text-align: center;
    }

    .list-mac{
        display: none;
    }

    .wrap-product{
        padding-bottom: 0px;
    }

    .kind-of-product{
        height: 0;
        transition: height 1s ease-in;
    }

    .carousel-main h2{
        padding: 10px;
    }

    .item{
        text-align: center;
    }

    .item-inner{
        min-height: 280px;
    }

    .item a img{
        height: 130px;
    }

    .info-item{
        padding: 10px;
    }
    
    .info-item h3{
        font-size: 13px;
        line-height: 18px;
    }

    .info-item p{
        font-size: 12px;
    }

    .all-item-product{
        margin-top: 0px;
        margin-left: 0px;
    }

    .item-product{
       min-width: 50%;
       margin-bottom: 0px;
    }

    .price{
        width: 100%;
        bottom: 5px;
    }

    #item-product-ofset{
        display: none;
    }

    footer > div:first-child{
        display: none;
    }

    .customer{
        background-color: #f5f5f5;
    }

    .copyRight{
        background-color: rgb(27, 26, 26, 0.7);
    }

    .title-footer{
        color: #1d1d1f;
    }

    .care p{
        color: #616161;
    }

    .care a{
        color: #f83015;
    }

    .care span{
        color: #f83015;
    }

    .menu-footer li a{
        color: #616161;
    }

    .menu-footer li a:hover{
        color: black;
    }

    .youtube, .facebook, .bo-cong-thuong{
        display: none;
    }

    #footer-two-left .cs{
        color: #616161;
    }

    .customer-container{
        padding: 5px;
    }

    #footer-two-right img{
        padding: 5px 0px 0px 0px;
    }

    .chinh-sach{
        width: 50%;
    }

    .ho-tro{
        width: 50%;
    }

    #footer-two-left #tag a{
        color: #7ac142;
    }

    .item-product{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 576px){
    *{
        max-width: 100%;
    }
    
    .customer-container{
        padding-top: 5px;
    }

    .chinh-sach, .ho-tro{
        margin-top: 5px;
    }
}

@media screen and (max-width: 500px){

    .item-product{
        padding-right: 6px;
    }

    #footer-bottom p{
        font-size: 10px;
    }
}
































